<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="stylesheets/stylesheet.css">
    
    <title>Text to Binary</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <div class="text-center">
                <div class="row">
                    <div class="col-xs-5">
                        <h1 class="display-4">Text</h1>
                    </div>
                    <div class="col-xs-2">
                        <a class="btn btn-forcedark" href="{{ url_for('render_b2t') }}" role="button" title="Swap">&#8652</a>
                    </div>
                    <div class="col-xs-5">
                        <h1 class="display-4">Binary</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='container'>
        <div class="row">
            <div class="col-xs-5"><h2>Decoded Message: </h2></div>
            <div class="col-xs-2"></div>
            <div class="col-xs-5"><h2>Encoded Message: </h2></div>
        </div>
            <div class="row">
                <div class="col-xs-5">
                    <div class="panel panel-default" style="min-width: 50%; min-height: 250px;  max-height: 250px;overflow-y: scroll;">
                        <div class="panel-body">
                            {{input}}
                        </div>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="text-center">
                        <a class="btn btn-primary btn-circle btn-xl" href="{{ url_for('render_t2b') }}" role="button" title="Refresh !" method="post">&#8635</a>
                    </div>
                </div>
                <div class="col-xs-5">
                    <div class="panel panel-default" style="min-width: 50%; min-height: 250px;  max-height: 250px;overflow-y: scroll;">
                        <div class="panel-body">
                            {{output}}
                        </div>
                    </div>
                </div>
            </div> 
            <div class="text-center">
                <a href="{{ url_for('render_index_page') }}" class="text-muted">Go Back to Main Page</a>
            </div> 
    </div>
</body>
</html>
